*{
    margin: 0;
    padding: 0;
}
body{
   background: #f6f6f6;
}
.box{
    width: 600px;
    height: 500px;
}
.box .header{
    width: 100%;
    height: 20%;
}
.tabs_2{
    font-size: 20px;
    text-decoration: none;     /* 去除下划线 */ 
    padding:0;
    width: 100px;
    color: gray;    /* 未点击的颜色 */ 
}      
/* 点击按钮后 */
a.tabs_2.router-link-exact-active.router-link-active{
    font-size: 20px;
    text-decoration: none;        /* 去除下划线 */ 
    padding:0;
    width: 100px;
    color: rebeccapurple;
}
a.tabs_3 {
    font-size: 20px;
    text-decoration: none;
    padding:0;
    width: 100px;
    color: gray;
}
a.tabs_3.router-link-exact-active.router-link-active{
    font-size: 20px;
    text-decoration: none;        /* 去除下划线 */ 
    padding:0;
    width: 100px;
    color: rebeccapurple;
}
.tabs_4{
    padding: 0;
    margin:0;
    font-size: 20px;
}  
.tabs_5{
    font-size: 20px;
    text-decoration: none;  
    padding:0;
    width: 100px;
    color: gray;
}
a.tabs_5.router-link-exact-active.router-link-active {
    font-size: 20px;
    text-decoration: none;  
    padding:0;
    width: 100px;
    color: rebeccapurple;
}
.box .main{
    width: 100%;
    height: 60%;
}
.main .left,.main .right{
    width: 20%;
    height: 100%;
}
.main .center{
    width: 60%;
    height: 100%;
}
.box .footer{      
    height: 20%;
    width: 100%;    
    text-align: center;
}
