/*  flex布局  */
*{
    margin: 0;
    padding: 0;
}
body{
   background: #f6f6f6;
}
.flexb .header{
    display: flex;
    height: 100px;
}
.header{
    justify-content: space-around;
    position: relative;
}
.header div{
    text-align: center;
}
.main{
    display: flex;
    height: 100px;
}
.left,.right{
    flex:1 ;
    position: relative;
    align-items: stretch;
    min-height: 500px;
}
.center{
    flex:13;
} 
/* footer移动到最底下   left: 0;  bottom: 0; */
.footer{      
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;    
    align-self: flex-end; 
    text-align: center;
}
.tabs_1{
    font-size:20px;
    width:100px;
}
.tabs_2,a.tabs_2.router-link-exact-active.router-link-active {
    font-size: 20px;
    text-decoration: none;        /* 去除下划线 */ 
    padding:0;
    width: 100px;
}
a.tabs_3 {
    font-size: 20px;
    text-decoration: none;
    padding:0;
    width: 100px;
}
.tabs_5,a.tabs_5.router-link-exact-active.router-link-active {
    font-size: 20px;
    text-decoration: none;  
    padding:0;
    width: 100px;
}