/* =======  发现组件 
                        ========= */
.find_vue{
    padding: 0;
    margin-top: 5px;
    background: blue;
}
/* =======  首页组件  
                        ========= */
.home_vue{
    padding: 0;
    margin-top: 5px;
    background: red;
}
/* =======  登录组件  
                        ========= */
.login_vue{
    padding: 0;
    margin-top: 5px;
    width: 550px;
    height: 250px;
    background-color: #ff66ff;
}
/* =======  注册组件  
                        ========= */
.register_vue{
    padding: 0;
    margin-top: 5px;
    width: 550px;
    height: 250px;
    background-color:  #ff66ff;

}
