/* =======  发现组件 
                        ========= */
.find_vue{
    padding: 0 ;
    width: 100px;
    margin:0;
}
/* =======  首页组件  
                        ========= */
.home_vue{
    padding: 0;
    margin:0;
}
/* =======  登录组件  
                        ========= */
.login_vue{
    padding: 0;
    margin:0;
    width: 550px;
    height: 250px;
    background-color: #ff66ff;
}
/* =======  注册组件  
                        ========= */
.register_vue{
    padding: 0;
    margin:0;
    width: 550px;
    height: 250px;
    background-color:  #ff66ff;
}
